/* Global styling for body and root elements */
body, #root {
  background-color: lightblue;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input-error {
  border: 1px solid red;
}

.input-container {
  width: 90%;
  display: block;
  margin: 0;
}

.input-container input{
  width: 100%;
}
.error-text {
  font-size: 10px; /* small font size */
  color: red; /* red color text */
  display: block; /* make it block-level to force it below the input */
  margin-top: 5px; /* optional margin at the top to create some space between the input and error message */
}

/* Styling for the app container */
.app-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px; /* Increase padding for more space */
  width: 80%;  /* Increase width */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style the form divs */
form div {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style labels */
form label {
  flex: 1;
}

/* Style input fields */
form input {
  flex: 2;
  padding: 10px;
  border-radius: 5px;
  background-color: #FAF3E0;  /* light sandy color */
  color: black;
}


/* Style buttons */
button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the title */
.app-title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: left;
}


.navigation {
  margin-top: 10px;
}

div a {
  text-decoration: none;
  color: black;
}


::placeholder {
  color: black;  /* change it to any color you like */
  opacity: 1;  /* this is optional, it sets the opacity of the placeholder */
}

form.financeInfo div {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: left; /* Center items vertically */
}
form.financeInfo div label{
  width:100%;
  display: flex;
  justify-content: left; /* Center items vertically */
}

form.financeInfo div input{
  width: 90%;
}